<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9eceb0">  <td>21/01/16 13:06:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.beforeMethod()[pri:0, instance:aspire.LoginTest@87a85e1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@702061917</td>   <td></td> </tr>
<tr bgcolor="9eceb0">  <td>21/01/16 13:06:41</td>   <td>6203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.TC01()[pri:0, instance:aspire.LoginTest@87a85e1]">TC01</td> 
  <td>main@702061917</td>   <td></td> </tr>
<tr bgcolor="b9b8c9">  <td>21/01/16 13:07:01</td>   <td>25632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod()[pri:0, instance:aspire.LoginTest@87a85e1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@702061917</td>   <td></td> </tr>
</table>
